@import '/src/index.scss';

.about {
  display: flex;
  flex-direction: column;

  .main-about {
    padding-left: 27%;

    .title {
      display: flex;
      padding-bottom: 12px;

      > span {
        align-self: flex-end;
        height: 24px;
        margin: 0 -12px -12px 12px;
        border-left: 4px solid #FFD029;
      }
      >.polygon {
        margin-right: 5px;
        margin-left: -5px;
      }
    }
  
    .description {
      border-left: 4px solid #FFD029;
      border-top: 4px solid #FFD029;
      margin-left: 12px;
  
      .secondary-text {
        padding-left: 30px;
        padding-top: 30px;
        max-width: 427px;
        min-height: 300px;
        > p {
          margin-bottom: 0;
        }
      }
    }
  
    .knowledge-title {
      display: flex;
  
      >span:nth-of-type(1) {
        border-left: 4px solid #FFD029;
        border-bottom: 4px solid #FFD029;
        min-width: 15%;
        margin-right: -2px;
        margin-left: 12px;
      }
  
      >span:nth-of-type(2) {
        border-bottom: 4px solid #EDEDED;
        flex-grow: 1;
      }
  
      >div {
        display: flex;
        align-items: center;
        margin-bottom: -22px;
  
        >h3 {
          padding: 0 10px;
        }
      }
    }
  }

  .knowledge-wrapper {
    display: flex;
    margin-top: -4px;

    .knowledge-indicator {
      padding: 100px 60px 0 20%;
      min-width: 495px;
      display: flex;
      flex-direction: column;

      >div:not(:last-child) {
        margin-bottom: 55px;
      }
    }

    .knowledge-description {
      padding-top: 215px;
      max-width: 80%;
      .bordered-text-box {
        >div {
          display: flex;
          align-items: flex-end;
          p {
            padding: 8px;
          }
        }
      }
    }

    >span {
      margin-top: 215px;
      border-top: 4px solid #FFD029;
      flex: 1;
    }
  }

}

@media (max-width: $md) {
  .about {
    .main-about {
      padding-left: 8%;
      padding-right: 3%;
      }
      .knowledge-title {
        >span:nth-of-type(1) {
          min-width: 5%;
        }
    }

    >span {
      margin-top: -40px;
      margin-bottom: 40px;
    }

    .knowledge-wrapper {
      padding-left: 5%;
    }
  }
}