@import '/src/index.scss';

.contact {
  display: flex;
  flex-direction: column;
  >div:first-of-type {
    padding-left: 27%;
    .contact-title {
      display: flex;
      padding-bottom: 12px;
      >.polygon {
        margin-right: 5px;
        margin-left: -5px;
      }
    }
    .contact-description {
      border-left: 4px solid #FFD029;
      border-top: 4px solid #FFD029;
      margin-left: 10px;
    }
  }

  .contact-filter {
    display: flex;
    .contact-filter-left {
      margin-top: -27px;
      flex: 1;
      >span:nth-of-type(1) {
        border-bottom: 4px solid #DCDBD6;
        color: #939191;
        margin-top: -11px;
        margin-bottom: 11px;
        text-indent: 65%;
        min-width: 100px;
        flex: 1;
      }
      .contact-filter-list {
        display: flex;
        margin-right: 10%;
        >span {
          border-left: 4px solid #DCDBD6;
          height: 110px;
          margin-top: 30px;
        }
        & ul {
          list-style-type: none;
          z-index: 1;
          margin: 0;
          padding: 0;
          margin-top: 5.5px;
          >li {
            display: flex;
            align-items: center;
            padding: 5px 0;
            >span {
              border-bottom: 4px solid #DCDBD6;
              min-width: 40px;
              margin-right: -4px;
            }
            >.polygon svg {
              padding-top: 4px;
              padding-right: 5px;
            }
          }    
        }
      }

    }
  }

  > span {
    border: 4px solid #FFD029;
    border-right: none;
    align-self: flex-end;
    width: calc(350px + 10%);
    min-height: 154px;
    margin-top: -164px;
  }
}

@media (max-width: $md) {
  .contact {
    .contact-filter {
      .contact-filter-left {
        > span:nth-of-type(1) {
          text-indent: 0%;
          text-align: center;
          min-width: 100px;
        }
      }
    }
  }
}

@media (max-width: $xxl) {
  .contact {
    .contact-filter {
      .contact-filter-left {
        margin-top: 30px;
      }
    }
  }
}