@import '/src/index.scss';

.illustrations-wrapper {
  margin-bottom: 60px;

  >div {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .thumb {
    height: 250px;
    object-fit: cover;
  }
}

@media (max-width: $sm) {
  .illustrations-wrapper a img {
    max-width: 350px;
  }
}