.about {
  margin-top: 80px;
  margin-left: 25%;
  .title {
    display: flex;
  }
  .main-about {
    border-left: 5px solid #FFD029;
    border-top: 5px solid #FFD029;
    margin-left: 12px;
    margin-top: -10px;
  }
}