.home {
  background: #FFD029;
  height: 1080px;
  color: white;
  display: flex;
  justify-content: center;
  & div {
    flex-grow: 1;
    margin: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}