@import '/src/index.scss';

.bordered-text-box {
  color: #939191;
  border: 4px solid #FFD029;
  div {
    border: 4px solid #EDEDED;
    p {
      margin: 0;
    }
  }
  @media (max-width: $md) {
    div {
      margin-right: 0;
      padding-right: 0;
    }
  }
}

.default-yellow-box-style {
  margin: -4px 0 0 -4px;
  padding: 20px 20px 0 20px;
  max-width: 427px;
  min-height: 100px;
}
.default-grey-box-style {
  margin: -5px -50px -20px -5px;
  padding: 8px 70px 35px 8px;
  min-height: 100px;
}