@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');
/*
#1A1A1A - black text for Home links
#FFD029 - yellow lines
#EDEDED - light gray lines
#DCDBD6 - light gray percentage bar
#000000 - black text
#939191 - gray text

Bootstrap breakpoints
X-Small	None	<576px
Small	sm	≥576px
Medium	md	≥768px
Large	lg	≥992px
Extra large	xl	≥1200px
Extra extra large	xxl	≥1400px
*/
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Varela', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 48px;
  font-weight: 400;
  line-height: 1;
  margin: 0;
}

h3 {
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  margin: 0;
}

section {
  margin-bottom: 80px;
}

p {
  color: #939191;
}